body {
    background-color: #219ebc;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center; 
    align-items: center; 
    height: 100vh; 
    transition: grid-template-columns 0.5s ease; 
}

.city-container {
    display: none;
    transition: transform 0.5s ease; 
}

.app-container.grid-shift {
    grid-template-columns: 1fr 2fr; 
}

.city-container {
    display: block; 
    transform: translateX(100%); 
}

.city-container.slide-in {
    transform: translateX(0); 
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@media (max-width: 882px) {
    .app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 20px;
    }

    .app-container.grid-shift {
        justify-items: center;
    }

    .search-container,
    .city-container {
        width: 100%; 
        transform: none; 
    }

    .city-container {
        display: block; 
        order: 2; 
    }

    .search-container {
        order: 1;
    }
}



